.name=name
.entry
    .name Mass
    .value=mass
.entry
    .name Radius
    .value=radius
.entry
    .name Location
    .value
        .x=locationX
        .y=locationY
        .z=locationZ
.entry
    .name Orbit Radius
    .value=orbitRadius
.entry
    .name Orbit Speed
    .value=orbitSpeed
.entry
    .name Orbit Direction
    .value
        .x=directionX
        .y=directionY
        .z=directionZ