.name
    | #{name}&nbsp;
    if lock
        i.fa.fa-lock
.entry
    .name Mass
    .value=mass
.entry
    .name Radius
    .value=radius
.entry
    .name Location
    .value
        .x=location[0]
        .y=location[1]
        .z=location[2]
.entry
    .name Orbit Radius
    .value=orbitRadius
.entry
    .name Orbit Speed
    .value=orbitSpeed
.entry
    .name Orbit Direction
    .value
        .x=direction[0]
        .y=direction[1]
        .z=direction[2]