.name System Data
.entry
    .name Gravity Constant
    .value=gravityConstant
.entry
    .name Scale
    .value=scale
.entry
    .name Time Scale
    .value=timeScale
.entry
    .name Body Scale
    .value=bodyScale
.entry
    .name Central Body Scale
    .value=centralBodyScale
.entry
    .name Elasticity
    .value=elasticity
.entry
    .name Central Body Name
    .value=centralBodyName
.entry
    .name Hand Mass
    .value=handMass
.entry
    .name Boundary
    .value=boundary